[submodule "S2T_SPHINXBASE"]
	path = S2T_SPHINXBASE
	url = https://github.com/pamamu/S2T_SPHINXBASE.git
[submodule "S2T_Training"]
	path = S2T_Training
	url = https://github.com/pamamu/S2T_Training
[submodule "S2T_Tests"]
	path = S2T_Tests
	url = https://github.com/pamamu/S2T_Tests
[submodule "S2T_SRILM"]
	path = S2T_SRILM
	url = https://github.com/pamamu/S2T_SRILM.git
[submodule "S2T_Speech2Text"]
	path = S2T_Speech2Text
	url = https://github.com/pamamu/S2T_Speech2Text.git